<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tabsapp.tabsapp.mnuriyumusak.tabsapp"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />


    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/my_icon"
        android:label="Tabs App"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="tabsapp.tabsapp.mnuriyumusak.tabsapp.DriveYukleniyor"
            android:screenOrientation="portrait" />
        <activity
            android:name="tabsapp.tabsapp.mnuriyumusak.tabsapp.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="tabsapp.tabsapp.mnuriyumusak.tabsapp.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tabsapp.tabsapp.mnuriyumusak.tabsapp.AfterPicture"
            android:screenOrientation="portrait" />
        <activity
            android:name="tabsapp.tabsapp.mnuriyumusak.tabsapp.DersGirme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="tabsapp.tabsapp.mnuriyumusak.tabsapp.DersEkleme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="tabsapp.tabsapp.mnuriyumusak.tabsapp.DriveApi"
            android:screenOrientation="portrait" />
        <activity
            android:name="tabsapp.tabsapp.mnuriyumusak.tabsapp.CameraActivityDersNotu"
            android:screenOrientation="portrait" />
        <activity
            android:name="tabsapp.tabsapp.mnuriyumusak.tabsapp.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="tabsapp.tabsapp.mnuriyumusak.tabsapp.GalleryFolderActivity"
            android:screenOrientation="portrait" />
        <activity android:name="tabsapp.tabsapp.mnuriyumusak.tabsapp.CreditsActivity"></activity>
    </application>

</manifest>